@import url("https://fonts.googleapis.com/css2?family=Ledger&family=Neucha&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background-color: #DDC4DD;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0;
  text-align: left;
}

#reviews {
  padding: 1.5rem;
}

#columns {
  columns: 20em;
}

#columns .card {
  background-clip: border-box;
  background-color: snow;
  border-radius: 1rem;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  margin-bottom: 1rem;
  overflow: hidden;
  transition: transform .3s cubic-bezier(.34,2,.6,1),box-shadow .2s ease;
  z-index: 1;
}

#columns .card:hover {
  box-shadow: 0px 12px 19px -7px rgba(0,0,0,.3);
}

.card .author {
  align-items: center;
  display: flex;
}

.card .author figure {
  margin-inline-end: 1rem;
  margin-inline-start: 1rem;
}

.card .author .avatar {
  border-radius: 0.5rem;
  height: 5rem;
  width: 5rem;
}

.card .author .title {
  font-family: "Ledger", serif;
}

.card .text {
  padding: 0 1rem;
}

.card .text p {
  margin-block-start: 0;
  margin-top: -13px;
}

.card .text .date {
  font-family: "Neucha", cursive;
  margin-block-end: 1rem;
  margin-block-start: 1rem;
  text-align: right;
}