@import url("https://fonts.googleapis.com/css2?family=Ledger&family=Neucha&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --bg-color: #78cb9d;
  --interact-color-darker: hsl(27, 70%, 50%);
  --interact-color: #e7a977;
  --main-color: snow;
  --primary-accent-color: #2e3133;
  --primary-text-color: #333333;
  --secondary-accent-color: #058ed9;
  --secondary-text-color: #f0f0f0;
  --tertiary-accent-color: #dd3b01;
}

body {
  background: repeat url(../assets/interface/bg.webp);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 0;
  scrollbar-gutter: stable;
  color: var(--primary-text-color);
}

/* Header */
#header {
  align-items: center;
  background-color: var(--primary-accent-color);
  box-shadow: 0px 12px 19px -7px rgba(0,0,0,.3);
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  height: 4rem;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  .logo {
    color: var(--secondary-text-color);
    flex-grow: 1;
    padding-left: 2rem;
    .main-logo {
      abbr {
        padding: 1.3rem 0;
      }
      abbr:hover {
        color: var(--secondary-accent-color);
      }
    }
    .hamburger-menu {
      background-color: transparent;
      border: none;
      color: var(--secondary-text-color);
      cursor: pointer;
      display: none;
      font-family: "Open Sans", sans-serif;
      font-size: 1.2rem;
      font-weight: bold;
      margin: auto;
      padding: 0;
      text-align: center;
      #openedHamTitle {
        .HamTitle {
          padding: 1.25rem 0;
          transition: all .2s ease-in;
          width: 14.3rem;
        }
        .HamTitle:hover {
          color: var(--interact-color);
          text-shadow: 0 0 1.5rem var(--interact-color);
        }
        .HamTitle:active {
          color: var(--interact-color-darker);
          text-shadow: 0 0 1.5rem var(--interact-color-darker);
        }
      }
      .pos-title {
        background-color: var(--primary-accent-color);
        border-radius: 0 0 0.5rem 0.5rem;
        margin-top: 12.1rem;
      }
      ul {
        display: none;
        margin-bottom: 0;
        margin-top: -0.1rem;
        padding-left: 0;
        transition: all .2s ease-in;
      }
      .show {
        display: block;
      }
      li {
        display: block;
        padding: 0;
        a {
          box-sizing: border-box;
          display: block;
          padding: 1.2rem 1rem 1.2rem 1rem;
        }
      }
    }
  }
  ul {
    padding-right: 1.1rem;
    li {
      display: inline-block;
      background-clip: border-box;
      a {
        color: var(--secondary-text-color);
        padding: 1.3rem 0.9rem;
        text-decoration: none;
        transition: all .2s ease-in;
      }
      a:hover {
        color: var(--interact-color);
        text-shadow: 0 0 1.5rem var(--interact-color);
      }
      a:active {
        color: var(--interact-color-darker);
        text-shadow: 0 0 1.5rem var(--interact-color-darker);
      }
    }
  }
  i {
  color: var(--secondary-accent-color);
  }
}

#main {
  margin-top: 4rem;
  padding: 1rem;
}

#review-form {
  display: none;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
#reviewCloseBtnOut {
  background-color: rgba(0, 0, 0, .5);
  border: none;
  display: none;
  height: 100%;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

#review-form-card {
  margin: auto;
  z-index: 3;
  .info {
    margin-top: 1rem;
  }
  i {
    color: var(--tertiary-accent-color);
  }
  .title {
    margin-left: 1rem;
  }
  h2.title {
    margin-bottom: 0.45rem;
    margin-top: 0.5rem;
    text-align: center;
    text-transform: uppercase;
  }
  #submit-review {
    .text {
      margin-block-end: 1rem;
      margin-block-start: 0;
      margin-top: -13px;
    }

    .form-full-name {
      #review-full-name {
        border-radius: 1rem;
        border: 0.2rem solid var(--primary-accent-color);
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        height: 1.5rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        transition: transform .3s cubic-bezier(.34,2,.6,1), box-shadow .2s ease, border .2s ease, color .2s ease;
        width: 12.75rem;
      }
      #review-full-name:hover {
        border: 0.2rem solid var(--interact-color);
        box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
      }
      #review-full-name:focus-visible {
        border: 0.2rem solid var(--interact-color-darker);
        box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
        outline: none;
      }
    }

    .form-photo {
      #review-photo {
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
      }
      #review-photo::file-selector-button {
        background-color: var(--primary-accent-color);
        border-radius: 1rem;
        border: none;
        color: var(--secondary-text-color);
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
        height: 2rem;
        text-transform: uppercase;
        transition: transform .3s cubic-bezier(.34,2,.6,1), box-shadow .2s ease, background-color .2s ease, color .2s ease;
        width: 11rem;
      }
      #review-photo::file-selector-button:hover {
        background-color: var(--interact-color);
        box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
        color: var(--primary-accent-color);
      }
      #review-photo::file-selector-button:active {
        background-color: var(--interact-color-darker);
        box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
        color: var(--primary-accent-color);
      }
    }

    .form-text {
      #review-text {
        border-radius: 1rem;
        border: 0.2rem solid var(--primary-accent-color);
        font-family: "Open Sans", sans-serif;
        font-size: 1rem;
        height: 11rem;
        padding-left: 0.9rem;
        padding-right: 0.9rem;
        resize: none;
        transition: transform .3s cubic-bezier(.34,2,.6,1), box-shadow .2s ease, border .2s ease, color .2s ease;
        width: 34.2rem;
      }
      #review-text:hover {
        border: 0.2rem solid var(--interact-color);
        box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
      }
      #review-text:focus-visible {
        border: 0.2rem solid var(--interact-color-darker);
        box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
        outline: none;
      }
    }

    #submit {
      background-color: var(--primary-accent-color);
      border-radius: 1rem;
      border: none;
      color: var(--secondary-text-color);
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      height: 3rem;
      text-transform: uppercase;
      transition: transform .3s cubic-bezier(.34,2,.6,1), box-shadow .2s ease, background-color .2s ease, color .2s ease;
      width: 15rem;
    }
    #submit:hover {
      background-color: var(--interact-color);
      box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
      color: var(--primary-accent-color);
    }
    #submit:active {
      background-color: var(--interact-color-darker);
      box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
      color: var(--primary-accent-color);
    }

    .pos {
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.45rem;
      width: fit-content;
    }
  }
}

#about-me-card {
  background: no-repeat var(--main-color) url(../assets/about-me.webp) right/53.2%;
  background-position: 104%;
  margin: auto;
  width: 70rem;
  i {
    color: var(--tertiary-accent-color);
  }
}

#contact-card {
  margin: auto;
  width: 70rem;
  .info {
    margin-top: 1rem;
  }
  i {
    color: var(--tertiary-accent-color);
  }
  .title {
    margin-left: 1rem;
  }
  .h-card.vcard {
    .text {
    margin-block-end: 1rem;
    margin-block-start: 0;
    margin-top: -13px;
    }
  }
  .phone {
    min-width: 14rem;
  }
  .discord {
    min-width: 14rem;
  }
}

#upBtn {
  background-color: var(--primary-accent-color);
  border-radius: 3rem;
  border: none;
  bottom: 1.5rem;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  color: var(--secondary-text-color);
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
  height: 3rem;
  padding-top: 0.3rem;
  position: fixed;
  right: 1.5rem;
  transition: transform .3s cubic-bezier(.34,2,.6,1), box-shadow .2s ease, background-color .2s ease, color .2s ease;
  width: 3rem;
  z-index: 99;
}
#upBtn:hover {
  background-color: var(--interact-color);
  box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
  color: var(--primary-accent-color);
}
#upBtn:active {
  background-color: var(--interact-color-darker);
  box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
  color: var(--primary-accent-color);
}

#reviewBtn {
  background-color: var(--primary-accent-color);
  border-radius: 3rem;
  border: none;
  bottom: 1.5rem;
  color: var(--secondary-text-color);
  cursor: pointer;
  font-size: 1.5rem;
  height: 3rem;
  left: 1.5rem;
  padding-top: 0.3rem;
  position: fixed;
  transition: transform .3s cubic-bezier(.34,2,.6,1), box-shadow .2s ease, background-color .2s ease, color .2s ease;
  width: 3rem;
  z-index: 99;
}
#reviewBtn:hover {
  background-color: var(--interact-color);
  box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
  color: var(--primary-accent-color);
}
#reviewBtn:active {
  background-color: var(--interact-color-darker);
  box-shadow: 0 0 19px -7px rgba(0,0,0,.3);
  color: var(--primary-accent-color);
}

#reviewCloseBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin: -2.55rem 0 0 36.1rem;
  position: fixed;
}

abbr:hover {
  color: var(--tertiary-accent-color);
}

.card {
  background-clip: border-box;
  background-color: var(--main-color);
  border-radius: 1rem;
  box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
  overflow: hidden;
  transition: transform .3s cubic-bezier(.34,2,.6,1), box-shadow .2s ease;
  z-index: 1;
  .author {
    align-items: center;
    display: flex;
    .avatar {
      border-radius: 0.5rem;
      height: 5rem;
      width: 5rem;
    }
    figure {
      margin-inline-end: 1rem;
      margin-inline-start: 1rem;
    }
  }
  .date {
    font-family: "Neucha", cursive;
    margin-block-end: 1rem;
    margin-block-start: 1rem;
    padding-right: 1rem;
    text-align: right;
  }
  .card-image {
    margin-bottom: -0.6rem;
    min-width: 35rem;
    img {
      height: 29.83rem;
      width: 35rem;
    }
  }
  .title {
    font-family: "Ledger", serif;
    margin-right: 1rem;
  }
  .text {
    padding: 0 1rem;
    a {
      color: var(--secondary-accent-color);
      text-decoration: none;
    }
    a:hover {
      color: hsl(201, 95%, 30%);
    }
    p {
      margin-block-end: 1rem;
      margin-block-start: 0;
      margin-top: -13px;
    }
    .first {
      margin-top: 1rem;
      padding-right: 36rem;
    }
    .second {
      margin-top: 1rem;
      padding-right: 31rem;
    }
    .third {
      margin-top: 1rem;
      padding-right: 27rem;
    }
    .fourth {
      margin-top: 1rem;
      padding-right: 33.5rem;
    }
    .fifth {
      margin-top: 1rem;
      padding-right: 35rem;
    }
  }
}

.card:hover {
  box-shadow: 0px 12px 19px -7px rgba(0,0,0,.3);
}

blockquote {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
} 

.wrap {
  flex-wrap: wrap;
}

.grid-item {
  margin-bottom: 1rem;
}

@media (min-width: 2560px) {
  .grid-sizer,
  .grid-item {
    width: 15.947265625000002%;
  }
  .gutter-sizer {
    width: 1.3rem;
  }
}

@media (min-width: 1920px) and (max-width: 2559px) {
  .grid-sizer,
  .grid-item {
    width: 19.001588983050848%;
  }
  .gutter-sizer {
    width: 1.375rem;
  }
}

@media (min-width: 1536px) and (max-width: 1919px) {
  .grid-sizer,
  .grid-item {
    width: 23.70345744680851%;
  }
  .gutter-sizer {
    width: 1.475rem;
  }
}

@media (min-width: 1440px) and (max-width: 1535px) {
  .grid-sizer,
  .grid-item {
    width: 23.615056818181817%;
  }
  .gutter-sizer {
    width: 1.475rem;
  }
}

@media (min-width: 1366px) and (max-width: 1439px) {
  .grid-sizer,
  .grid-item {
    width: 23.538669064748202%;
  }
  .gutter-sizer {
    width: 1.475rem;
  }
}

@media (min-width: 1280px) and (max-width: 1365px) {
  .grid-sizer,
  .grid-item {
    width: 23.4375%;
  }
  .gutter-sizer {
    width: 1.475rem;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .grid-sizer,
  .grid-item {
    width: 31.260080645161292%;
  }
  .gutter-sizer {
    width: 1.625rem;
  }
}

@media (max-width: 1023px) {
  #header {
    .logo {
      padding-left: 0;
      .main-logo {
        display: none;
      }
      .hamburger-menu {
        display: block;
      }
    }
    .navigation-menu {
      display: none;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .grid-sizer,
  .grid-item {
    width: 46.875%;
  }
  .gutter-sizer {
    width: 1.95rem;
  }
}

@media (min-width: 720px) and (max-width: 767px) {
  .grid-sizer,
  .grid-item {
    width: 46.656976744186046%;
  }
  .gutter-sizer {
    width: 1.95rem;
  }
}

@media (min-width: 425px) and (max-width: 719px) {
  .grid-sizer,
  .grid-item {
    width: 92.47967479674796%;
  }
}

@media (min-width: 412px) and (max-width: 424px) {
  .grid-sizer,
  .grid-item {
    width: 92.23684210526316%;
  }
}

@media (min-width: 390px) and (max-width: 411px) {
  .grid-sizer,
  .grid-item {
    width: 91.79687500000001%;
  }
}

@media (min-width: 375px) and (max-width: 389px) {
  .grid-sizer,
  .grid-item {
    width: 91.52%;
  }
}

@media (min-width: 360px) and (max-width: 374px) {
  .grid-sizer,
  .grid-item {
    width: 91.15853658536585%;
  }
}

@media (max-width: 359px) {
  .grid-sizer,
  .grid-item {
    width: 90%;
  }
}

fieldset {
  border: none;
  padding: unset;
}